section.home_about {
    width: 100%;
    margin-top: 130px;

    > div:nth-child(2) {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 250px;
    }
    
    > div:nth-child(3) {
        width: 100%;
        clip-path: polygon(0 13%, 100% 0%, 100% 87%, 0 100%);
        background: linear-gradient(to bottom, var(--blackGradient), var(--orangeGradient)),
            url("../../assest/images/homeabout.jpg");
        height: 700px;
        background-size: cover;
        background-position: top;
        z-index: -1;
        transform: translate(0, -50%);
    }
}
