.homework
{
    width: 100%;
    margin-top: 150px;
    > div:last-of-type
    {
        width: 100%;
        display: flex;
        margin: 0 auto;
        flex-flow: row wrap;
        margin-top: 100px;
        justify-content: center;
        > div 
        {
            margin: 30px;
        }
    }
}