:root{
    --orange: #dd5d00;
    --brown: #462c1d;
    --gray: #e5e5e5;
    --white: #ffffff;
    --black: #000000;
    --green: #2bff00;
    --orangeGradient: #dd5c0070;
    --blackGradient: #000000a9;
    --lightGray: #f7f7f7;
}