.seemorebtn {
    padding: 15px 20px;
    background-color: var(--brown);
    border: 5px solid var(--white);
    font-size: 17px;
    margin-top: 20px;
    color: var(--white);
    display: inline-block;
}
